bin/* text eol=lf
*.js text eol=lf
*.mjs text eol=lf
*.cjs text eol=lf
*.ts text eol=lf
*.cts text eol=lf
*.mts text eol=lf
*.json text eol=lf
*.html text eol=lf
*.css text eol=lf
*.map text eol=lf
*.png binary
*.jpg binary
*.ico binary
