.example {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: row;
  padding: 0.25em 0.5em;
  margin: 0.5em;
  border-radius: 0.5em;
}
.example .result {
  font-family: monospace;
  white-space: pre-wrap;
  margin-left: 5px;
}
.example .try {
  margin-left: 30px;
}
.error {
  color: red;
}
