name: Tests

on:
  push:
    branches:
      - '*'
  pull_request:
    branches: [main]

jobs:
  build:

    strategy:
      matrix:
        include:
          - node-version: 16.x   # fastest, so run first, to error fast
            os: ubuntu-latest
          - node-version: 16.x   # slowest, so run next. sort by slowest from here to get earliest end through parallelism
            os: macos-latest
          - node-version: 16.x   # finish check big-3 on latest current
            os: windows-latest
          - node-version: 10.x   # lastly check just ubuntu on historic node versions because speed, oldest (slowest) first
            os: ubuntu-latest
          - node-version: 11.x
            os: ubuntu-latest
          - node-version: 12.x
            os: ubuntu-latest
          - node-version: 13.x
            os: ubuntu-latest
          - node-version: 14.x
            os: ubuntu-latest
          - node-version: 15.x
            os: ubuntu-latest

    runs-on: ${{matrix.os}}

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Test ${{ matrix.node-version }}
        run: npm install && npm run build
