name: Tests

on:
  push:
    branches:
      - '*'
  pull_request:
    branches: [main]

jobs:
  build:

    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x, 15.x, 16.x]
        os: [ubuntu-latest, windows-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: npm install
      - name: Check coding standards
        if: matrix.node-version == '16.x' && matrix.os == 'ubuntu-latest'
        run: npm run lint
      - name: Static analysis - check types
        run: npm run ts
      - name: Test
        run: npm run test
